.body-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head-container {
    border-color: #f08080;
    border-width: 1px;
    border-style: solid;
}
.head-container > h1 {
    margin: 0;
    text-align: center;
}

.link-hidden > .content {
    display: none;
}

.link-container > .content > table {
    width: 100%;
}

.link-container > .content {
    background-color: #ff8c66;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    height: max-content;
}

.link-container > .title-container > h2 {
    margin: 0;
}

.link-container > .title-container {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    background-color: #b32d00;
    color: whitesmoke;
    border-left: black 4px solid;
    vertical-align: middle !important;
}

.link-container {
    width: 100%;
    padding-top: 20px;
    border-right: white 10px solid;
    border-left: white 10px solid;
}

.div-row {
    display: flex;
}

.title-container > h2 > span {
    font-size: 20px;
}